<div class="item-mc">
    <div class="book-detail-content">
                        <p>　　AI圣经！深度学习领域奠基性的经典畅销书！长期位居美国ya马逊AI和机器学习类图书榜首！所有数据科学家和机器学习从业者的bi读图书！特斯拉CEO埃隆·马斯克等国内外众多专家推jian！</p> 
<p>　　深度学习是机器学习的一个分支，它能够使计算机通过层次概念来学习经验和理解世界。因为计算机能够从经验中获取知识，所以不需要人类来形式化地定义计算机需要的所有知识。层次概念允许计算机通过构造简单的概念来学习复杂的概念，而这些分层的图结构将具有很深的层次。本书会介绍深度学习领域的许多主题。</p> 
<p>　　本书囊括了数学及相关概念的背景知识，包括线性代数、概率论、信息论、数值优化以及机器学习中的相关内容。同时，它还介绍了工业界中实践者用到的深度学习技术，包括深度前馈网络、正则化、优化算法、卷积网络、序列建模和实践方法等，并且调研了诸如自然语言处理、语音识别、计算机视觉、在线推荐系统、生物信息学以及视频游戏方面的应用。最后，本书还提供了一些研究方向，涵盖的理论主题包括线性因子模型、自编码器、表示学习、结构化概率模型、蒙特卡罗方法、配分函数、近似推断以及深度生成模型。</p> 
<p>　　封面特色：由艺术家DanielAmbrosi提供的中央公园杜鹃花步道梦幻景观。在Ambrosi的亿级像素全景图上，应用JosephSmarr（Google）和ChirsLamb（NVIDIA）修改后的GoogleDeepDream开源程序，创造了DanielAmbrosi的“幻景”。</p> 
<p><br></p>            </div>
</div>